<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Частная школа "Название школы"</title>
    <!-- Подключение стилей CSS из папки "10" -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <h1>Частная школа "Название школы"</h1>
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="#">Учебная программа</a></li>
                <li><a href="#">Учителя</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <!-- Секция с информацией о школе -->
    <section id="about-school">
        <h2>О нашей школе</h2>
        <p>Частная школа "Название школы" предоставляет высококачественное образование для учеников всех возрастов.</p>
        <p>Наши учителя - это опытные специалисты, готовые помочь вашему ребенку достичь своих целей.</p>
        <p>Мы предлагаем широкий спектр учебных программ и дополнительных занятий для развития талантов каждого ученика.</p>
    </section>

    <!-- Секция с учебной программой -->
    <section id="curriculum">
        <h2>Учебная программа</h2>
        <p>В нашей школе мы предлагаем обширную учебную программу, охватывающую все предметы и уровни образования.</p>
        <p>Мы уделяем особое внимание развитию навыков чтения, письма, математики и наук в раннем возрасте.</p>
        <p>Для старших учеников мы предоставляем широкий выбор предметов и направлений, чтобы развить их интересы и таланты.</p>
    </section>

    <!-- Секция с информацией о преподавателях -->
    <section id="teachers">
        <h2>Наши учителя</h2>
        <p>Вся наша педагогическая команда состоит из высококвалифицированных специалистов с богатым опытом преподавания.</p>
        <p>Наши учителя гордятся тем, что помогают детям расти и развиваться, обеспечивая им лучшее образование.</p>
    </section>

    <!-- Секция с контактной информацией -->
    <footer>
        <!-- Раздел "Контакты" -->
            <div class="container">
                <h2>Контакты</h2>
                <p>Адрес: Улица, Город, Почтовый индекс</p>
                <p>Телефон: +7 (123) 456-7890</p>
                <p>Email: <a href="mailto:info@школа-название.ru">info@школа-название.ru</a></p>
            </div>
        
        <!-- Социальные иконки -->
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook">facebook</i></a>
            <a href="#"><i class="fab fa-twitter">twitter</i></a>
            <a href="#"><i class="fab fa-linkedin">linkedin</i></a>
        </div>
        
        <!-- Текстовая информация в footer -->
        <div class="container">
            <p>&copy; 2023 Частная школа "Название школы". Все права защищены.</p>
        </div>
    </footer>
    

    <!-- Подвал сайта -->
</body>
</html>
