{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Частная школа "{{settings.name}}"</title>
    <!-- Подключение стилей CSS из папки "10" -->
    <link rel="stylesheet" href="{% static './style.css' %}">
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <h1>Частная школа "{{settings.name}}"</h1>
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="#">Учебная программа</a></li>
                <li><a href="#">Учителя</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <!-- Секция с информацией о школе -->
    <section id="about-school">
        <h2>О нашей школе</h2>
        <p>{{about.descriptions}}</p>
    </section>

    <!-- Секция с учебной программой -->
    <section id="curriculum">
        <h2>Учебная программа</h2>
        <p>{{program.school_program}}</p>

    </section>

    <!-- Секция с информацией о преподавателях -->
    <section id="teachers">
        <h2>Наши учителя</h2>
        <p>{{teachers.our_teachers}}</p>

    </section>

    <!-- Секция с контактной информацией -->
    <footer>
        <!-- Раздел "Контакты" -->
            <div class="container">
                <h2>Контакты</h2>
                <p>адрес: {{settings.address}}</p>
                <p>тефонный номер: {{settings.phone}}</p>
                <p>Email: {{settings.Email}}</a></p>
            </div>
        
        <!-- Социальные иконки -->
        <div class="social-icons">
            <a href="{{settings.facebook_url}}"><i class="fab fa-facebook">facebook</i></a>
            <a href="{{settings.instagram_url}}"><i class="fab fa-twitter">twitter</i></a>
            <a href="{{settings.linkeldin_url}}"><i class="fab fa-linkedin">linkedin</i></a>
        </div>
        
        <!-- Текстовая информация в footer -->
        <div class="container">
            <p>&copy; 2023 Частная школа {{settings.name}}. Все права защищены.</p>
        </div>
    </footer>
    

    <!-- Подвал сайта -->
</body>
</html>
